<!DOCTYPE html>
<html>
<head>
  <title>My Blog - Homepage</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .user-profile {
      display: flex;
      align-items: center;
    }
    
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  </style>
</head>
<body class="bg-primary">
  <div class="container bg-warning mt-5 mb-3 border text-center">
   
    <div>
      <div>
         --
    
        <% if (posts.length === 0) { %>
          <!-- Render the create new post form if there are no posts -->
          <%- include('createBlog') %> <!-- Include the create post form EJS file -->
        <% } else { %>
          <%- include('navbar', { currentPage: 'homepage' }) %>
          <% posts.forEach(post => { %>
            <div class="card mb-3">
              <div class="card-body">
                <% if (post.media) { %>
                  <img src="<%= post.media %>" alt="Picture/Video" class="img-fluid">
                <% } %>
                <% if (post.author) { %>
                  <div class="user-profile">
                    <img src="<%= post.author.avatar %>" alt="Picture" class="avatar">
                    <p class="username"><%= post.author.username %></p>
                  </div>
                <% } %>
                <h2 class="card-title"><%= post.title %></h2>
                <p class="card-text"><%= post.content %></p>
         
                <div class="card mt-3 mb-3">
                  <% if (post.comments.length > 0) { %>
                    <div class="card-header">
                      Comments:
                    </div>
                    <div class="card-body">
                      <!-- Iterate over each comment -->
                      <% post.comments.forEach(comment => { %>
                        <div class="comment">
                          <!-- Display author's avatar image and username -->
                          <% if (comment.author) { %>
                            <img src="<%= comment.author.avatar %>" alt="Avatar" class="avatar">
                            <%= comment.author.username %>
                          <% } %>
                            
                          <!-- Display comment content -->
                          <p><%= comment.content %></p>
                        </div>
                      <% }) %>
                    </div>
                  <% } %>
                </div>

                <div style="display: inline;">
                
                  <a href="/comments/<%= post._id %>" class="btn btn-primary">Read more</a>


                  
                </div>
              </div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
  
  <!-- Add Bootstrap JS (optional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
